/* HEADER REGION  */

#header-container {
    width: 100%;
    height: 100px;
    background-color: #181a21;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#header-container #header {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#header-container #header #logo {
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-container #header #logo a {
    margin: none;
}

#header-container #header #logo img {
    width: 80px;
    height: 80px;
}

#menu {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
}

#menu .item {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    color: #FFF;
}

#menu .item:hover {
    text-decoration: underline;
}

#menu .item a {
    text-decoration: none;
    color: #B8B6B4;
}

#menu .item a:hover {
    color: #FFF;
}


/* END HEADER REGION */

/* START BODY REGION */

#body-container {
    background-color: #1B2839;
    width: 100%;
    min-height: calc(100vh - 100px);
    padding: 0 10% 0 10%;
    display: flex;
    flex-direction: row;
}
#body-container #game-list a{
    text-decoration: none;
}

#side-menu {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 0px 5px 5px 5px;
}

#side-menu .menu-header {
    color: #b8b6b4;
    margin: 20px 0 10px 0;
}

#side-menu .item {
    margin: 2px 0 2px 0;
    min-width: 10px;
}

#side-menu .item a {
    cursor: pointer;
    color: #66c0f4;
    text-decoration: none;
}

#side-menu .item a:hover {
    color: #FFF;
    text-decoration: underline;
}

#body-container #content {
    width: calc(100vw - 250px);
    padding: 20px 10px 10px 10px;
    display: flex;
    flex-direction: column;
}
#content #header {
    font-weight: bold;
    color: #FFF;
    letter-spacing: 1px;
    padding-left: 5px;
}
#content .retorno_classe {
    font-weight: bold;
    color: #FFF;
    letter-spacing: 1px;
    padding-left: 5px;
    text-align: center;
}


/* END BODY REGION */

/* START GAME SECTION */

#game-title {
    color: #FFF;
    margin: 0;
    padding: 0;
}

#game-data {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-top: 10px;
}

#photo-container {
    width: 60%;
}

#photo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

#description-container {
    width: 40%;
    color: #FFF;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#description-container h2 {
    padding: 0;
    margin: 0;
}

.generic-info {
    width: 100%;
    margin-top: 10px;
}

.generic-info .tag {
    color: rgb(102, 192, 244);
    font-weight: bold;
}

.generic-info .value {
    margin-top: 3px;
}

/* END GAME SECTION */

/* START ABOUT SECTION */

#about-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

#about-container #data {
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
}

#about-container #data p {
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
}

#about-container #data #info {
   width: 100%;
   display: flex;
   flex-direction: row;
}

#about-container #data #info .info-data {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#about-container #data #info .info-data .title {
    font-weight: bold;
    color: #b8b6b4;
    font-size: 13px;
}

#about-container #data #info .info-data .value {
    font-weight: bold;
    color: #fff;
    font-size: 35px;
}

#vapor-install {
    background-color: rgb(59, 173, 255);
    border: none;
    height: 50px;
    width: 200px;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

#vapor-install:hover {
    background-color: rgb(53, 156, 229);
    transition: 300ms;
}

#about-container #photo {
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
}

#about-container #photo img {
    width: 100%;
    border-radius: 5px;
}

/* END ABOUT SECTION */


/* START GAME LIST SECTION  */

#content #game-list {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#content #game-list .game {
    display: flex;
    height: 150px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #69727a;
    margin: 5px;
}

#content #game-list .game .photo {
    width: 20%;
}

#content #game-list .game .photo img {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    margin: 5px;
    border-radius: 5px;
    object-fit: cover;
}


#content #game-list .game .info {
    display: flex;
    width: 60%;
    padding: 10px;
    flex-direction: column;
}

#content #game-list .game .info .title {
    color: #FFF;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

#content #game-list .game .info .platforms {
    display: flex;
    flex-direction: row;
}

#content #game-list .game .info .sub-block {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    color: #FFF;
    font-size: 12px;
}

#content #game-list .game .info .sub-block:first-of-type {
    margin-left: 0;
}


#content #game-list .game .info .platforms .platform {
    background-color: #454b50;
    
}

#content #game-list .game .info .idioms {
    display: flex;
    flex-direction: row;
}

#content #game-list .game .info .idioms .idiom {
    background-color: #747f89;
}

#content #game-list .game .info .release-date {
    color: #FFF;
    font-size: 13px;
    letter-spacing: 1px;
    margin-top: 10px;
}

#content #game-list .game .price {
    display: flex;
    width: 20%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-weight: bold;
    font-size: 30px;
}


/* SUPORTE */

#body-container form{
    width: 100%;
    text-align: center;
    justify-content: center;
}

#body-container form img{
    height: 150px;
    width: 150px;
}

#body-container form img{
    height: 100px;
    width: 100px;
}

#body-container .text-logo-suporte{
    height: 100px;
    font-weight: 900;
    font-size: 20px;
    color: #36395A;
    letter-spacing: 1px;
}
#arealogin3{
    height: 50%;
}
.labelnome #nome{
    font-family: inherit;
    width: 70%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
#mensagem{
    display: flex;
    flex-direction: column;
}
.labelemail #email{
    font-family: inherit;
    width: 70%;
    height: 50%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
textarea{
    color: #181a21 ;
}

.labelassunto #assunto{
    font-family: inherit;
    width: 70%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
.labelnome #nome{
    font-family: inherit;
    width: 70%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
.mensagem #mensagem-contato{
    font-family: inherit;
    width: 70%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
.tipo-contato select{
    font-family: 'Ek Mukta';
  text-transform: uppercase;
  width: 30%;
  font-weight: 600;
  letter-spacing: 4px;
  height: 4rem;
  font-size: 1.1rem;
  padding: 1rem;
  background-color: #FAFCFD;
  border: 3px solid transparent;
  transition: .3s ease-in-out;
}
#areaform{
    margin-top: 30px;
    background: #fff;
    width: 600px;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: -5px -5px 30px 5px red, 5px 5px 30px 5px blue;
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
}
#certo{
    display: flex;
    margin-left: 150px;
    width: 50%;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 0.25rem; 
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
#areaform select {
	background-color: #c4c4c4;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;    
    margin-left: 150px;
    padding: 1rem;
    border-radius: 10px;
}

select {
	width: 300px;
	margin-right: 1rem;
}

select[open] {
	z-index: 1;
}

summary {
	padding: 1rem;
	cursor: pointer;
	border-radius: 5px;
	background-color: #ddd;
	list-style: none;
}

summary::-webkit-select-marker {
	display: none;
}

select[open] summary:before {
	content: '';
	display: block;
	width: 100vw;
	height: 100vh;
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
}



/* FIM SUPORTE */